
<%- include('header'); -%>

    <div class="box" id="heading">
        <h1><%= listTitle%> </h1>
    </div>


    <div class="box">

        <%  for (let i = 0; i < todos.length; i++){  %>
        <div class="item">
            <input type="checkbox">
            <p><%= todos[i] %></p>
        </div>
        <% } %>

        <form class="item" action="/" method="POST">
            <input type="text" name="item" placeholder="enter next todo" autocomplete="off">
            <button type="submit" name="list" value="<%=listTitle %>">+</button>
        </form>
        
       
    </div>
    <!-- ist example -->

    <!-- <h1>It's a <%= listTitle %> List</h1> -->

    <!-- second example -->
    <!-- 
    <% if (listTitle === "Saturday" || listTitle === "Sunday"){ %>
        <h1 style="color : purple;"><%= listTitle %> Todo List</h1>
     <% }else{  %>
        <h1 style="color :blue;"><%= listTitle %> Todo List</h1>  
    <% } %> -->

    <!-- third example using toLocalDateString -->

    <%- include('footer'); -%>